<aside class="w-full md:w-64 bg-gradient-to-b from-slate-800 to-yellow-500 text-white p-6 shadow-xl md:h-screen fixed md:relative z-10">
    <h1 class="text-2xl font-extrabold text-center border-b pb-3">
        TN <span class="text-yellow-500">M3allim</span>
    </h1>

    <div class="flex flex-col items-center my-6">
        <img class="w-20 h-20 rounded-full border-4 border-white shadow-lg" src="/img/logo.png" alt="Admin">
        <p class="mt-3 text-lg font-semibold">{{user.name}}</p>
    </div>

    <nav class="mt-5 space-y-2">
        <a href="/admin/dashboard"
            class="flex items-center p-3 bg-slate-700 hover:bg-yellow-500 rounded-lg transition duration-200 w-full">
            ๐ <span class="ml-2">ููุญุฉ ุงูุชุญูู</span>
        </a>
        <a href="/admin/client-list"
            class="flex items-center p-3 bg-slate-700 hover:bg-yellow-500 rounded-lg transition duration-200 w-full">
            ๐ฅ <span class="ml-2">ุงูุญุฑูุงุก</span>
        </a>
        <a href="/admin/artisan-list"
            class="flex items-center p-3 bg-slate-700 hover:bg-yellow-500 rounded-lg transition duration-200 w-full">
            ๐๏ธ <span class="ml-2">ุงูุญุฑูููู</span>
        </a>
        <a href="/admin/user-messages"
            class="flex items-center p-3 bg-slate-700 hover:bg-yellow-500 rounded-lg transition duration-200 w-full">
            ๐ฌ <span class="ml-2">ุฑุณุงุฆู ุงูุญุฑูุงุก</span>
        </a>
        <a href="https://analytics.google.com/analytics/web/?authuser=0#/p487292866/reports/dashboard?params=_u..nav%3Dmaui&r=reporting-hub"
        class="flex items-center p-3 bg-slate-700 hover:bg-yellow-500 rounded-lg transition-colors duration-200 w-full"
        target="_blank" rel="noopener noreferrer">
            ๐ <span class="ml-2">ุงูุฅุญุตุงุฆูุงุช</span>
        </a>
      
        <a href="/admin/settings"
            class="flex items-center p-3 bg-slate-700 hover:bg-yellow-500 rounded-lg transition duration-200 w-full">
            โ๏ธ <span class="ml-2">ุงูุฅุนุฏุงุฏุงุช</span>
        </a>
        <a href="/admin/logout"
            class="flex items-center p-3 bg-red-600 hover:bg-red-700 rounded-lg transition duration-200 w-full mt-4">
            ๐ช <span class="ml-2">ุชุณุฌูู ุงูุฎุฑูุฌ</span>
        </a>
    </nav>
</aside>
  